<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.AdOrderMapper">

	<!-- 관리자 주문목록 -->
	<!-- 검색 조건 쿼리 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR"><!-- serffix 공백 주의 -->
			<foreach collection="cri.typeArr" item="type">
			 	<trim prefix="OR">
			 		<choose>
			 			<!-- 주문번호 : O_CODE -->
			 			<when test="type == 'O'.toString()">
			 				O_CODE LIKE '%' || #{cri.keyword} || '%'
			 			</when>
			 			<!-- 어아디 : M_USERID -->
			 			<when test="type == 'I'.toString()">
			 				M_USERID LIKE '%' || #{cri.keyword} || '%'
			 			</when>
			 		</choose>
			 	</trim>
			</foreach>		
		</trim>
	</sql>
	
	<!-- 날짜 조건 쿼리 -->
	<sql id="period">
		<!-- 
		startDate와 endDate가 존재하면
		TO_DATE : 오라클db의 변환 함수
		 -->
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
		<![CDATA[
			O_DATE >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
			AND
			O_DATE < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
			AND
		]]>
		</if>
	</sql>
	
	<!-- 주문목록 : 페이징 쿼리(인덱스 힌트 구문 사용) -->
	<select id="getOrderList" resultType="com.docmall.domain.OrderVO">
		<![CDATA[
		SELECT 
			RN, O_CODE, M_USERID, O_NAME, O_POST, O_ADDR, O_ADDR_D, O_TEL, 
		    	O_TOTALCOST, O_DATE, O_MESSAGE, O_STATUS, PAY_STATUS, CS_STATUS 
		FROM(
		    SELECT 
		    	/*+ INDEX_DESC(TBL_ORDER PK_T_ORDER) */ 
		    	ROWNUM RN, O_CODE, M_USERID, O_NAME, O_POST, O_ADDR, O_ADDR_D, O_TEL, 
		    	O_TOTALCOST, O_DATE, O_MESSAGE, O_STATUS, PAY_STATUS, CS_STATUS 
		    FROM 
				TBL_ORDER
		    WHERE
		]]>
				<include refid="period"></include>
				
				<include refid="criteria"></include>
				<!-- <![CDATA[ ]]> 안에 들어가면 태그가 아닌 문자열로 읽게 됨 -->
		<![CDATA[
			 ROWNUM <= #{cri.pageNum} * #{cri.amount}
		)
		WHERE RN > (#{cri.pageNum}-1) * #{cri.amount}	
		]]>
	</select>
	
	<!-- 상품 목록 개수 : 페이징 구현 사용 -->
	<select id="totalOrderCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			TBL_ORDER
		WHERE
			<include refid="period"></include>
			
			<include refid="criteria"></include>
			O_CODE > 0		
	</select>
	
	<!-- 주문상태 변경 -->
	<update id="updateOrderStatus">
	
		UPDATE
			TBL_ORDER
		SET
			O_STATUS = #{o_status}
		WHERE
			O_CODE = #{o_code}
	
	</update>
	
	<!-- 주문 삭제 -->
	<delete id="deleteOrder">
		DELETE
			TBL_ORDER
		WHERE
			O_CODE = #{o_code}
	</delete>
	
	<!-- 주문 삭제
	collection="list"
	 - 파라미터 데이터타입이 List 컬렉션이기 때문에 사용
	item="o_code"
	 - oCodeArr 배열 중 값 하나씩을 의미하는 변수명
	파라미터가 Map컬렉션일 경우 
	 - HashMap<String, Object> map = new HashMap();
	 - map.put("checkList", ckList)
	 - <foreach> 문에 collection="checkList"
	 -->
	<delete id="deleteListOrder">
		DELETE
			TBL_ORDER
		WHERE
			O_CODE IN
			<foreach collection="list" item = "o_code" open="(" close=")" separator=",">
				#{o_code}
			</foreach>
	</delete>
	
	<!-- 주문 상세 - 주문 정보 -->
	<select id="getOrderInfo" resultType="com.docmall.domain.OrderVO">
	
		SELECT
			 O_CODE, M_USERID, O_NAME, O_TEL,
			 O_POST, O_ADDR, O_ADDR_D, 
			 O_TOTALCOST, O_DATE, O_MESSAGE, 
			 O_STATUS, PAY_STATUS, CS_STATUS
		FROM
			TBL_ORDER 
		WHERE 
			O_CODE = #{o_code}
	
	</select>
	
	<!-- 주문 상세 - 결제 정보 -->
	<select id="getPaymentInfo" resultType="com.docmall.domain.PaymentVO">
	
		SELECT
			PAY_CODE, O_CODE, PAY_METHOD, PAY_DATE, 
			PATE_TOT_PRICE, PAY_REST_PRICE, 
			PAY_PRICE, PAY_USER, PAY_BANK
		FROM
			PAYMENT_TBL
		WHERE
			O_CODE = #{o_code}
			
	</select>
	
	<!-- 주문 상세 - 주문 상품 정보 -->
	<!-- resultType사용 -->
	<select id="getOrderProductInfo" resultType="map">
	
		SELECT
			P.P_DETAIL, P.P_NAME, D.O_CODE, D.P_NUM,  P.P_IMAGE, P.P_IMAGE_DATEFOLDER, D.O_AMOUNT, P.P_COST * D.O_AMOUNT AS O_UNITPRICE, 
			O.O_STATUS
		FROM 
			TBL_ORDER O INNER JOIN TBL_ORDER_D D
		    ON O.O_CODE = D.O_CODE
		    INNER JOIN TBL_PRODUCT P
		    ON D.P_NUM = P.P_NUM
		WHERE 
			O.O_CODE =#{o_code} 
	
	</select>
	
	<!-- db의 컬럼명과 vo클래스의 필드명이 불일치할 경우 : 1) 쿼리에 as 별칭 사용 2)resultType사용
	<resultMap type="vo클래스명" id="getOrderProductMap">
		<result column="테이블 컬럼명" property="vo클래스  필드명"/>
	</resultMap>
	<select id="getOrderProductInfo" resultType="map" resultMap="getOrderProductMap">
	
		SELECT
			P.P_DETAIL, P.P_NAME,  P.P_IMAGE, P.P_IMAGE_DATEFOLDER, D.O_AMOUNT, P.P_COST * D.O_AMOUNT AS O_UNITPRICE, 
			O.O_STATUS
		FROM 
			TBL_ORDER O INNER JOIN TBL_ORDER_D D
		    ON O.O_CODE = D.O_CODE
		    INNER JOIN TBL_PRODUCT P
		    ON D.P_NUM = P.P_NUM
		WHERE 
			O.O_CODE =#{o_code} 
	
	</select>
	 -->
	 
	 <!-- 주문상품 개별 취소 기능 -->
	 <delete id="orderDetailProductDelete">
	 
	 	DELETE
	 		TBL_ORDER_D
	 	WHERE
	 		O_CODE = #{o_code} AND P_NUM = #{p_num}
	 
	 </delete>
	 <update id="orderTotalPriceChange">
	 	
	 	UPDATE
	 		TBL_ORDER
	 	SET
	 		O_TOTALCOST = O_TOTALCOST - #{o_unitprice}
	 	WHERE
	 		O_CODE = #{o_code}
	 
	 </update>
	 <update id="paymentTotalPriceChange">
	 
	 	UPDATE
	 		PAYMENT_TBL
	 	SET
	 		PATE_TOT_PRICE = PATE_TOT_PRICE - #{o_unitprice}
	 	WHERE
	 		O_CODE = #{o_code}
	 
	 </update>
</mapper>